.btn {
    background-color: rgb(186, 246, 186);;
    font-weight: 600;
    font-size: 18px;
    border-color: #baf6ba;;
    border-style: solid;
    padding: 8px 16px;
    height: 40px;
}

.btn:hover{
    cursor: pointer;
    background-color: rgb(169, 242, 169);
    border-color: rgb(169, 242, 169);
}

.btn-move {
    background-color: unset;;
    font-weight: 600;
    font-size: 18px;
    border: none;
    padding: 8px 16px;
    height: 48px;
    display: flex;
    align-items: center;
    border: 2px solid white;

}

.btn-move:hover{
    cursor: pointer;
    background-color: rgb(0, 0, 0);
}

.input {
    font-size: 18px;
    padding: 8px 16px;
}