*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

body {
    margin: 0;
    background-color: rgb(30, 30, 30);
    color: rgb(186, 246, 186);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

a {
    text-decoration: none;
}